.about-section {
  padding: 60px 30px;
}



h4 {
  font-size: 1.8rem;
  color:black;
  margin-bottom: 15px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 8px;
}

.lead {
  font-size: 20px;
  /* line-height: 1.8; */
  color: #555;
  text-align: justify;
  margin-bottom: 20px;
}

hr {
  border-top: 1px solid #e5e5e5;
  margin: 40px 0;
}

